<%- include('../partials/header'); %>

<div class="container">
  <div class="row">
    <div class="col-2" id="external-events">
      <form
        id="event-form"
        class="mt-3"
        method="POST"
        action="/users/admin/:user_id"
      >
        <div id="create-event-title">Create event</div>
        <div class="mb-3">
          <label for="event-title" class="form-label">Event title</label>
          <input
            type="text"
            class="form-control"
            id="event-title"
            name="eventTitle"
          />
        </div>

        <div class="mb-3">
          <label for="event-start-date" class="form-label">Start date</label>
          <input
            type="date"
            class="form-control"
            id="start-date"
            name="eventStartDate"
          />
        </div>

        <div class="mb-3">
          <label for="event-start-time" class="form-label">Start time</label>
          <input
            type="time"
            class="form-control"
            id="start-time"
            name="eventStartTime"
          />
        </div>

        <div class="mb-3">
          <label for="event-end" class="form-label">End date</label>
          <input
            type="date"
            class="form-control"
            id="end-date"
            name="eventEndDate"
          />
        </div>

        <div class="mb-3">
          <label for="event-end-time" class="form-label">End time</label>
          <input
            type="time"
            class="form-control"
            id="end-time"
            name="eventEndTime"
          />
        </div>

        <div class="success-msg"></div>

        <div class="mb-3 text-center">
          <button type="submit" class="btn btn-primary" id="submit-button">
            Submit
          </button>
        </div>
      </form>

      <br />
      <form
        id="event-delete-form"
        class="mt-3"
        method="POST"
        action="/users/admin?_method=DELETE"
      >
        <div id="edit-event-title">Delete event</div>
        <div class="mb-3">
          <label for="title-to-delete" class="form-label">Event Title</label>
          <input
            type="text"
            class="form-control"
            id="title-to-delete"
            name="titleToDelete"
          />
        </div>
        <div class="mb-3 text-center">
          <button type="submit" class="btn btn-primary" id="submit-button">
            Delete
          </button>
        </div>
      </form>
    </div>

    <div class="col-10" id="calendar-container">
      <div id="calendar"></div>
    </div>
  </div>

  <%- include('../partials/footer'); %>
</div>
