<%- include('../partials/header-login'); %>

<div class="constrained-full-height">

    <div id="page-login">

        <div class="container">

            <div class="row gx-5">

                <div class="col">
                    
                    <div class="content-section">
                        <div class="text-center mt-2">
                            <h1 class="mb-2 text-2xl">Login</h1>
                            <div class="hr"></div>
                        </div>
                        

                        <form id="login-form" class="mt-5" method="POST" action="/users/login">

                            <ul class="error-msgs"></ul>

                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>

                            <!-- <div class="mb-3">
                                <label for="account-type" class="form-label">Sign in as</label>
                                <input type="text" class="form-control" id="account-type" name="logintype" placeholder='e.g. User or Admin'>
                            </div> -->

                            <div class="success-msg"></div>
                
                           
                            <div class="form-check text-xs">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="1">
                                <label class="form-check-label" for="flexRadioDefault1" >
                                  Login as admin
                                </label>
                            </div>

                            <!-- <div class="form-check text-xs">
                                <input class="form-check-input" type="radio" 
                                name="flexRadioDefault" id="flexRadioDefault2" value="2" checked >
                                <label class="form-check-label" for="flexRadioDefault2" >
                                  Login as user
                                </label>
                            </div> -->


                            <div class="mb-3 text-center">
                                <button type="submit" class="btn btn-primary" id="send-button">Send</button>
                            </div>

                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>

</main>

<%- include('../partials/footer-login'); %>